#container {
    height: 300px;
    display: flex;
    align-items: flex-end;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
}

.bar {
    width: 15px;
    background-color: yellow;
    margin: 1px;
}